@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #24252A;
}
li, a, button, .logo{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    font-size: 24px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #0088a9;
}

header button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
header button:hover{
    background-color: rgba(0, 136, 169, .8);
}


.content{
    width: 80%;
    margin: 2em auto;
}
.menu{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 2em;
}
.scrollable-list{
    max-height: 750px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    border-radius: 20px 0 0 20px;
}
.menu .item{
    min-width: 110px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #0088a9;
}
.menu .item button{
    border: none;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
}
.menu .item button:hover{
    background-color: rgb(190, 190, 190)
}
.display-text{
    background-color: white;
    border-radius: 0 20px 20px 0;
    padding: 3em;
    display: grid;
    grid-template-rows: 10% 90%;
}
#text{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 2.5em;
}
.display-menu button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 2em;
}
.display-menu button:hover{
    background-color: rgba(0, 136, 169, .8);
}
.current-word{
    font-weight: bold;
    position: relative;
}
.current-word::after{
    position: absolute;
    bottom: -15%;
    right: 0;
    content: "";
    width: 100%;
    height: .2em;
    background-color: rgb(0, 169, 99);
    border-radius: 20%;
}